* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.flex-sect{
  background-color:#fafafa;
  padding:100px 0;
  font-family:Helvetica, serif;
}
.cards{
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}
.card{
  background-color:white;
  height:300px;
  width:300px;
  margin-bottom:30px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:2px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}
.card:hover{
  margin-top:-5px;
  box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-header{
  height:155px;
  background-image:url("https://cdn.discordapp.com/attachments/744391573810184373/747218806773907487/GoodVibes.gif");
  background-size:cover;
  background-position:center center;
}

.card-body{
  padding:15px 15px 5px 15px;
  color:#555;
}
.card-title{
  font-size:1.4em;
  margin-bottom:5px;
}
.card-sub-title{
  color:#b3b3b3;
  font-size:1em;
  margin-bottom:15px;
}
.card-desc{
  font-size:0.85rem;
  line-height:17px;
}
#iovu6{
  background-image:-webkit-linear-gradient(30deg, rgb(13, 0, 255) 0%, rgb(223, 0, 251) 48.3333%, rgb(223, 0, 247) 49.1667%, rgb(255, 0, 0) 99.5833%);
  background-repeat:no-repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#il95e{
  color:#ffffff;
}
#i0us1{
  color:#ffffff;
}
#i8a26{
  color:#ffffff;
}

#i185i{
  background-image:linear-gradient(#0061ff,#0061ff);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#i8pps{
  color:#e578fe;
  font-size:26px;
  text-align:center;
  text-decoration:underline;
  display:block;
  float:none;
  padding:0 0 0 0;
  margin:0 0 0 0;
  position:relative;
  bottom:9px;
}
#ivhw{
  background-image:none;
}
#i6kbq{
  color:black;
  float:left;
  display:flex;
}
#ikacl{
  color:black;
  float:right;
  display:flex;
}
@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@media (max-width: 480px){
  #iovu6{
    background-image:-webkit-linear-gradient(90deg, rgb(13, 0, 255) 0%, rgb(223, 0, 251) 48.3333%, rgb(223, 0, 247) 49.1667%, rgb(255, 0, 0) 99.5833%);
  }
}
